$white: #ffffff;
$black: #000000;

$dark-blue: #0c1122;
$bg-button: #66b6fa;

// Font size
$text-gray:#b3b3b3;
$text-error: #FF4C4C;

// Font color 

//border-color
$border-input-color: rgb(229, 231, 235);

// border radius
$border-container : 12px;
$border-input: 8px;