.hero{
    width: 100%;
    height: 100vh;
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
    url('https://wallpapers.com/images/hd/barber-shop-background-0t025mani5appwsc.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $text-gray;
    padding: 0 30px;

    .hero-h4{
        font-size: 32px;
    }

    .hero-h1{
        font-size: 54px;
        font-weight: bold;
    }

    .hero-p{
        max-width: 850px;
        font-size: 18px;
        text-align: center;
    }
}

@media (min-width: 1000px){
    .hero{
        .hero-h4{
            font-size: 42px;
        }
    
        .hero-h1{
            font-size: 106px;
            font-weight: bold;
        }
    
        .hero-p{
            max-width: 850px;
            font-size: 24px;
            text-align: center;
        }
    }
}