.login_template-container{
    width: 100%;
    min-height: 100vh;
    padding: 0 30px;
    background-color: $dark-blue;
    display: flex;
    align-items: center;


    .auth_form-container{
        margin: 0 auto;
        height: auto;
        width: 100%;
        min-width: 300px;
        max-width: 800px;
        background-color: $white;
        padding: 50px 30px;
        border-radius: $border-container;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@media(min-width: 500px){
    .login_template-container{
        padding: 130px 30px 40px 30px;
        display: block;
    }
}
